<div class="row">
    <table class="table table-primary table-striped-columns">
        <thead>
            <tr>
                <th class="text-center">Nombre Province</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{province.nombre}}</td>
            </tr>
            <tr>
                <td class="text-center">{{province.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div>