<div class="row justify-content-center mt-5">
  <div class="col col-lg-10">
    <div class="card shadow-sm">
      <div class="card-header text-center bg-transparent">
        <div class="row justify-content-evenly mx-1">
          <button class="btn btn-primary col col-1">Back</button>
          <h3 id="title" class="col col-10">Name Component</h3>
          <button class="btn btn-primary col col-1">X</button>
        </div>
      </div>
      <div class="card-body bg-transparent">
        <ng-template appDynamicView></ng-template>
      </div>
      <div class="card-footer bg-transparent">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" onclick="goNext()">Button Text</button>
        </div>
      </div>
    </div>
  </div>
</div>